/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/* 
	.nav-pad {
		margin-left: 0; 
		margin-right: 0;
	} */

	.side-nav-bg {

		background: #000000;
		background: -moz-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: -webkit-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: linear-gradient(to bottom, #000000 0%, #2D2C2E 100%);
	    color: #fff !important;
	}

	/* .service_img {
		width: 100px;
	}

	.service_img_cable {
		width: 60px;
	} */

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	/* .nav-pad {
		margin-left: 0; 
		margin-right: 0;
	} */

	.side-nav-bg {

		background: #000000;
		background: -moz-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: -webkit-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: linear-gradient(to bottom, #000000 0%, #2D2C2E 100%);
	    color: #fff !important;
	}

	/* .service_img {
		width: 100px;
	}

	.service_img_cable {
		width: 60px;
	} */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	/* .nav-pad {
		margin-left: 0; 
		margin-right: 0;
	} */

	.side-nav-bg {

		background: #000000;
		background: -moz-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: -webkit-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: linear-gradient(to bottom, #000000 0%, #2D2C2E 100%);
	    color: #fff !important;
	}

	/* .service_img {
		width: 120px;
	}

	.service_img_cable {
		width: 120px;

	} */

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	/* .nav-pad {
		margin-left: 60px; 
		margin-right: 60px;
	} */

	.side-nav-bg {

		background: #000000;
		background: -moz-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: -webkit-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: linear-gradient(to bottom, #000000 0%, #2D2C2E 100%);
	    color: #fff !important;
	}

	/* .service_img {
		width: 120px;
	}

	.service_img_cable {
		width: 120px;

	} */

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 

	/* .nav-pad {
		margin-left: 340px; 
		margin-right: 340px;
	} */

	.dashboard-nav-pad {
		margin-left: 210px; 
		margin-right: 210px;
	}

	.side-nav-bg {

		background: #000000;
		background: -moz-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: -webkit-linear-gradient(top, #000000 0%, #2D2C2E 100%);
		background: linear-gradient(to bottom, #000000 0%, #2D2C2E 100%);
	    color: #fff !important;
	}

	/* .service_img {
		width: 120px;
	}

	.service_img_cable {
		width: 120px;

	} */

}